# Build
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Secrets
.env

# OS
.DS_Store
Thumbs.db
desktop.ini

# example
/example/**
!/example/_templates
!/example/knowledge
!/example/mutercim.yaml

# Logs
*.log
